<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon Assignment Suite">
<listeners>
		<listener class-name="com.amazon.qa.base.ExtentReportListener" />
	</listeners>
	<parameter name="browserType" value="chrome" />
	<parameter name="appURL" value="https://google.com"/>
  <test  name="Amazon Page Tests">
    <classes>
      <class name="com.amazon.qa.testcases.HomePageTest"/>
      <class name="com.amazon.qa.testcases.SignInPageTest"/>
      <class name="com.amazon.qa.testcases.SearchPageTest"/>
      <class name="com.amazon.qa.testcases.ItemDetailsPageTest"/>
      <class name="com.amazon.qa.testcases.PaymentPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
